APP_DOMAIN=app.aresapp.tech
API_DOMAIN=api.aresapp.tech
ACME_EMAIL=seu-email@seudominio.com.br

POSTGRES_DB=ares
POSTGRES_USER=ares_app
POSTGRES_PASSWORD=429225b6089252c5eb65cff6e256ffcbebba7702f6d254aff49ae980983ad8c5


JWT_SECRET_BASE64=rY2n+M1vp5A9I9LzAI1vhxlHPB9zFEILqRUhKt/tLphlcd/tsH4xJboMph+wmBbh
DB_POOL_MAX_SIZE=10
DB_POOL_MIN_IDLE=2

JWT_SECRET_BASE64=rY2n+M1vp5A9I9LzAI1vhxlHPB9zFEILqRUhKt/tLphlcd/tsH4xJboMph+wmBbh
JWT_ISSUER=ares-api

SUBSCRIPTION_PAYMENT_SIMULATION_ENABLED=true

SPRINGDOC_API_DOCS_ENABLED=true
SPRINGDOC_SWAGGER_UI_ENABLED=true

LEGAL_TERMS_VERSION=2026-08-27
LEGAL_PRIVACY_VERSION=2026-08-27

PROMOTION_COUPON_CODE=
PROMOTION_DISCOUNT_PERCENTAGE=0
PROMOTION_VALID_UNTIL=

NEXT_PUBLIC_LEGAL_OPERATOR_NAME="Nome da empresa ou responsável"
NEXT_PUBLIC_LEGAL_OPERATOR_DOCUMENT="CPF ou CNPJ"
NEXT_PUBLIC_LEGAL_OPERATOR_ADDRESS="Endereço comercial"
NEXT_PUBLIC_PRIVACY_EMAIL=privacidade@seudominio.com.br
NEXT_PUBLIC_LEGAL_TERMS_VERSION=2026-08-27
NEXT_PUBLIC_LEGAL_PRIVACY_VERSION=2026-08-27
