{
	email {$ACME_EMAIL}
	admin off
}

{$APP_DOMAIN} {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
	}

	log {
		output stdout
		format console
	}

	reverse_proxy web:3000
}

{$API_DOMAIN} {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
	}

	log {
		output stdout
		format console
	}

	reverse_proxy api:8080
}
